h1 {
  font-style: serif;
  margin-top: 20px;
}

.container {
  text-align: center;
}

.ball {
  margin-left: 240px;
}
.gingerbread .body {
  fill: #cd803d;
}

.gingerbread .eye {
  fill: white;
}

.gingerbread .mouth {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.gingerbread .limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}
